.register-container{
  margin-top: 150px;
}

.navbar-search {
  margin-bottom: 0;
  width: 25rem;
  margin-left: 17rem;
}

.swappal-nav {
  background-color: #337ab7;
  color: white;

  padding-top: 8px;
}

.swappal-nav a {
  color: white;
  font-family: Georgia;
  font-weight: bold;

}

.navbar-form {
  margin-bottom:0px;
  font-size: 1px;
  font-family: Georgia;
}
