<nav class="navbar navbar-default swappal-nav">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand">Swap Pal</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <!--<form class="navbar-form navbar-left">-->
      <!--<input type="text" class="form-control navbar-search" placeholder="Search for..." aria-label="Search for..." [(ngModel)]="searchText" name="searchText">-->
      <!--<div class="form-group"><span class="icon-search"></span></div>-->
      <!--</form>-->
      <!--<ul class="nav navbar-nav navbar-right">-->
      <!--<li><a [routerLink]="['/createPost']">Create Post</a></li>-->
      <!--<li><a [routerLink]="['/profile']"><span class="icon-user profile-icon"></span></a></li>-->
      <!--</ul>-->
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid register-container">
  <div class="col-md-3">
  </div>
  <div class="col-md-6 col-xs-12">
    <span>{{globalErrorMsg}}</span>
    <form #registerForm="ngForm">
      <div>
        <label for="username">
          Username
        </label>
        <input type="email"
               class="form-control"
               required
               (ngModel)="username"
               #username="ngModel"
               id="username"
               name="username"
               placeholder="Husky Email" pattern="[a-z0-9._%+-]+@husky.neu.edu">

        <div class="error-msg" *ngIf="!username?.valid && username?.touched">
          Please enter your husky email
        </div>
        <!--<div class="error-msg" *ngIf=" !== "husky.neu.edu">-->
          <!--Please register with your husky email-->
        <!--</div>-->
      </div>
      <div>
        <label for="password">
          Password
        </label>
        <input type="password"
               class="form-control"
               required
               (ngModel)="password"
               #password="ngModel"
               id="password"
               placeholder="Enter your password"
               name="password" minlength="6">

        <div class="error-msg" *ngIf="!password?.valid && password?.touched">
          Please enter a valid password of atleast 6 characters!
        </div>
      </div>
      <div>
        <label for="repassword">
          Re-enter Password
        </label>
        <input type="password"
               class="form-control"
               required
               (ngModel)="repassword"
               #repassword="ngModel"
               name="repassword"
               id="repassword"
               placeholder="Re-enter your password" (keyup.enter)="register(registerForm)">

        <div class="error-msg" *ngIf="!repassword?.valid && repassword?.touched">
          Please re-enter your password!
        </div>

        <div class="error-msg" *ngIf="repassword?.touched && password.value !== repassword.value">
          Passwords do not match
        </div>
      </div>
      <button type="button" class="btn btn-primary form-control" (click)="register(registerForm)">Register</button>
    </form>
  </div>
  <div class="col-md-3">

  </div>
</div>


