.post-image {
  object-fit: cover;
  width:100px;
  height:100px;
}

.swappal-nav {
  background-color: #337ab7;
  color: white;

  padding-top: 8px;
}

.swappal-nav a {
  color: white;
  font-family: Georgia;
  font-weight: bold;

}

.navbar-form {
  margin-bottom:0px;
  font-size: 1px;
  font-family: Georgia;
}

.checked {
  color: orange;
}

.wish-item {
  background: #efefef;
  padding: 0.25rem 0.75rem;
  border-radius: 1rem;
  margin-right: 0.5rem;
}
