<nav class="navbar navbar-default swappal-nav">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" [routerLink]="['/post-list']">Swap Pal</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <form class="navbar-form navbar-left">
        <input type="text" class="form-control navbar-search" placeholder="Search for..." aria-label="Search for..." [(ngModel)]="searchText" name="searchText">
        <div class="form-group"><span class="icon-search"></span></div>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a [routerLink]="['/createPost']">Create Post</a></li>
        <li><a [routerLink]="['/profile']">
          <span class="icon-user profile-icon"></span>
          Hello, {{userService.user.name}}
        </a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">

  <ul class="row post-list list-group">

    <li class="col-xs-12 list-group-item" *ngFor="let post of postList | postfilter:searchText">
      <div class="col-xs-2">
        <a [routerLink]="['/details']"><img [src]="'assets/images/'+post.image" class="img-thumbnail rounded post-image"></a>
      </div>
      <div class="col-xs-10">
        <a [routerLink]="['/details']"><h3>{{post.title}}</h3></a>
        <h5>
          <span>{{post.userName}} : </span>
          <span *ngFor="let n of [1, 2, 3, 4, 5]">
            <span class="fa fa-star checked" *ngIf="post.rate >= n"></span>
            <span class="fa fa-star checked" *ngIf="post.rate < n && post.rate >= (n-0.5)"></span>
            <span class="fa fa-star" *ngIf="post.rate < (n-0.5)"></span>
          </span>
          <!-- <span class="icon-star-full"></span> -->
        </h5>
      </div>
    </li>

    <div *ngIf="(postList | postfilter:searchText)?.length == 0">
      <h3>No Results Found.</h3>
      <h4>Why not <a [routerLink]="['/createPost']">create you own post</a>.</h4>
    </div>
  </ul>
</div>



<!--&lt;!&ndash; Button trigger modal &ndash;&gt;-->
<!--<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#reviewModal">-->
  <!--Review-->
<!--</button>-->

<!-- Modal -->

