.post-image {
  object-fit: cover;
  width:100px;
  height:100px;
}

.profile-icon {
  font-size: 1.5rem;
}

.swappal-nav {
  background-color: #337ab7;
  color: white;
}

.swappal-nav a {
  color: white;
}

.checked {
  color: orange;
}
