<nav class="navbar navbar-default swappal-nav">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" [routerLink]="['/post-list']">Swap Pal</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <div class="navbar-search">
      <form class="navbar-form navbar-left">
        <div class="input-group">
          <div class="input-group-btn search-panel">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="height: 39px">
              <span id="search_concept">{{initialTag}}</span> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a   style="color:black;" (click)="changeInitial(firstTag)">{{firstTag}}</a></li>
              <li><a   style="color:black;" (click)="changeInitial(secondTag)">{{secondTag}}</a></li>
            </ul>
          </div>
          <input type="text" class="form-control" placeholder="Search for..." aria-label="Search for..." [(ngModel)]="searchText" name="searchText"  style="width: 403px;z-index: 1;">
          <div class="form-group search-container" style="z-index: 2;margin-left: 136px;"><span class="icon-search"></span></div>
        </div>
        <!--<div class="navbar-search">-->
          <!--<input type="text" class="form-control" placeholder="Search for..." aria-label="Search for..." [(ngModel)]="searchText" name="searchText">-->
          <!--<div class="form-group search-container"><span class="icon-search"></span></div>-->
        <!--</div>-->
      </form>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a [routerLink]="['/createPost']">Create Post</a></li>
        <!--<li><a [routerLink]="['/profile']"><span class="icon-user profile-icon"></span></a></li>-->
        <li  class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Hello, {{userService.user.name}} &nbsp;<span class="glyphicon glyphicon-chevron-down"></span></a>
          <ul class="dropdown-menu">
            <li class="dropdown-item"><a [routerLink]="['/profile']"  style="color:black;"><span class="glyphicon glyphicon-user"></span>&nbsp; Profile</a></li>
            <li class="dropdown-item"><a [routerLink]="['/login']"  style="color:black;"><span class="glyphicon glyphicon-log-out"></span>&nbsp; Logout</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">
  <div class="row">
    <b style="color: #337ab7; font-size: x-large; font-family: Georgia">{{post.title}}</b>

  </div>

  <div class="row">
    <b style="color: #337ab7; font-size: large; font-family: Georgia">{{post.userName}}:
      <span *ngFor="let n of [1, 2, 3, 4, 5]"  class="star-item">
        <span class="fa fa-star checked" *ngIf="post.rate >= n"></span>
        <span class="fa fa-star" *ngIf="post.rate < n"></span>
      </span>
    </b>

  </div>

  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <div id="carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div *ngFor="let aimage of post.image; let k=index;" class="item" [ngClass]="{'active': (k==0)}">
            <img [src]="'assets/images/'+aimage">
          </div>
        </div>
      </div>
      <div class="clearfix">
        <div id="thumbcarousel" class="carousel slide" data-interval="false">
          <div class="carousel-inner">
            <div *ngFor="let aimage of post.image; let k=index;" class="item active">
              <div data-target="#carousel" [attr.data-slide-to]="k" class="thumb"><img [src]="'assets/images/'+aimage">
              </div>
            </div>
          </div><!-- /carousel-inner -->
<!--           <a class="left carousel-control" href="#thumbcarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="#thumbcarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a> -->
        </div> <!-- /thumbcarousel -->
      </div><!-- /clearfix -->
    </div> <!-- /col-sm-6 -->
    <div class="col-sm-3">
    </div>
    <div class="row">


    </div> <!-- /col-sm-6 -->
  </div> <!-- /row -->

  <div class="topspace"></div>
  <div class="panel panel-default">
    <div class="panel-body">
  <div class="row">
    <div class="col-sm-4"><b style="color: #337ab7; font-size: large; font-family: Georgia">Description</b></div>
    <div class="col-sm-8" style="font-family: Georgia">
<!--       <p>
         <a href="https://www.amazon.com/Magic-Bullet-Blender-Small-Silver/dp/B012T634SM/ref=cm_cr_arp_d_product_top?ie=UTF8">here</a>. 
      </p> -->
<!--       <p>The images are from Amazon. </p>
      <p>I used the blender 3-5 times ever since I bought it. It's practically almost new. </p> -->
      <p>{{post.description}}</p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-4"><b style="color: #337ab7; font-size: large; font-family: Georgia">Wishlist</b></div>
    <div class="col-sm-8">
      <ol style="font-family: Georgia">
        <li *ngFor="let wishItem of post.wishlist">{{wishItem}}</li>
      </ol>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-4"><b style="color: #337ab7; font-size: large; font-family: Georgia">Contact Info</b></div>
    <div class="col-sm-8" style="font-family: Georgia">
      <p>{{post.email}}</p>
      <div class="alert alert-info">
        <strong>Remember!</strong>  An Invitation Code connects you with Anna to ensure a smooth transaction. Ask for the Invitation Code before doing any transaction.
      </div>
    </div>
  </div>
  </div>
  </div>
  <!--<table class="table table-borderless">-->
    <!--<tbody>-->
    <!--<tr>-->
      <!--<th scope="row">Description</th>-->
      <!--<td><p>I bought this blender last year. It has five program settings —Smoothies, Hot Soups, Dips & Spreads, Frozen Desserts and Self-Cleaning.-->
        <!--It automatically adjust times and speeds for the container selected and stop the blender when done. You can find the specs of the blender <a href="https://www.amazon.com/Magic-Bullet-Blender-Small-Silver/dp/B012T634SM/ref=cm_cr_arp_d_product_top?ie=UTF8">here</a>. </p>-->
        <!--<p>The images are from Amazon. </p>-->
        <!--<p>I used the blender 3-5 times ever since I bought it. It's practically almost new. </p></td>-->
    <!--</tr>-->
    <!--</tbody>-->
  <!--</table>-->


  <div class="row"><!-- panel-footer -->
    <div class="col-xs-6 text-left">
      <div class="previous">
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">Report this Post</button>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="exampleModalLabel">Report Post</h4>
          </div>
          <div class="modal-body">
            <label for="comment">Reason:</label>
            <textarea class="form-control" rows="5" id="comment"></textarea>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal" id="report">Report</button>
          </div>
        </div>
      </div>
    </div>

  <div style="padding-bottom: 4%"></div>

</div> <!-- /container -->
