/* CSS used here will be applied after bootstrap.css */
.carousel {
  margin-top: 20px;
}
.item .thumb {
  width: 25%;
  cursor: pointer;
  float: left;
}
.item .thumb img {
  width: 100%;
  margin: 2px;
}
.item img {
  width: 100%;
}
.checked {
  color: orange;
}
.topspace {
  padding-top: 3%;
}

.swappal-nav {
  background-color: #337ab7;
  color: white;

  padding-top: 8px;
}

.swappal-nav a {
  color: white;
  font-family: Georgia;
  font-weight: bold;

}

.navbar-form {
  margin-bottom:0px;
  font-size: 1px;
  font-family: Georgia;
}



