<nav class="navbar navbar-default swappal-nav">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand">Swap Pal</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <!--<form class="navbar-form navbar-left">-->
        <!--<input type="text" class="form-control navbar-search" placeholder="Search for..." aria-label="Search for..." [(ngModel)]="searchText" name="searchText">-->
        <!--<div class="form-group"><span class="icon-search"></span></div>-->
      <!--</form>-->
      <!--<ul class="nav navbar-nav navbar-right">-->
        <!--<li><a [routerLink]="['/createPost']">Create Post</a></li>-->
        <!--<li><a [routerLink]="['/profile']"><span class="icon-user profile-icon"></span></a></li>-->
      <!--</ul>-->
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<div class="container-fluid login-container">
  <div class="col-md-3">
  </div>
  <div class="col-md-6 col-xs-12">
      <form #loginForm="ngForm">
        <div>
          <label for="username">
            Username
          </label>
          <input type="email" class="form-control" required (ngModel)="username" id="username" name="username" placeholder="Enter your husky email">
          <div class="error-msg" *ngIf="!username?.valid && username?.touched">
            Please enter your email
          </div>
        </div>
        <div>
          <label for="password">
            Password
          </label>
          <input type="password" class="form-control" required (ngModel)="password" id="password" name="password" placeholder="Enter your password" (keyup.enter)="login(loginForm)">
          <div class="error-msg" *ngIf="!password?.valid && password?.touched">
            Please enter your password
          </div>
        </div>
        <div>
          <div class="col-xs-3"></div>
          <div class="col-xs-6" style="text-align: center">
          <a><button type="button" data-toggle="modal" data-target="#exampleModal"><u>Forgot Password?</u></button></a>
          <br/>
            <br/>
            <div class="col-xs-8">
              <button type="button" class="btn btn-primary form-control" (click)="login(loginForm)">Login</button></div>
            <div class="col-xs-4" style="padding-left: 0px;">
              <a><button type="button" [routerLink]="['/register']" ><u>Not a User?</u></button></a></div>
          </div>
        </div>
      </form>
  </div>
  <div class="col-md-3">

  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form #resetPasswordForm="ngForm">
      <div class="modal-body">
        <label for="resetEmail">
          Re-enter Password
        </label>
        <input type="email"
               class="form-control"
               required
               (ngModel)="resetEmail"
               #repassword="ngModel"
               name="resetEmail"
               id="resetEmail"
               placeholder="Enter your email Id">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="resetModelClose" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="resetPassword(resetPasswordForm)">Send Email</button>
      </div>
      </form>
    </div>
    </div>
  </div>

