
<div class="container create-post">

  <div class="col-xs-12">

  <div class="col-xs-2"></div>

  <div class="col-xs-3">
    <span>Upload pictures</span>
    <div class="upload-container">
      <div class="upload-wrapper">
        <button class="btn btn-primary plusBtn"><span class="glyphicon glyphicon-plus"></span></button>
        <input type="file" class="form-control" name="post-picture" (change)="captureUpload($event)">
      </div>
    </div>
    <div *ngFor="let filename of fileNameList.reverse();let l=index;">
      <i>{{filename}}</i><span *ngIf="l==0">&nbsp; added</span>
    </div>

  </div>

  <div class="col-xs-5">
    <div>
      <span>What do you have?</span>
      <input type="text" class="form-control" placeholder="What do you have for swapping?">
    </div>
    <div>
      <span>Description</span>
      <textarea rows="3" class="form-control" placeholder="Add a description"></textarea>
    </div>
    <div>
      <span>Would you like to swap on-campus? &nbsp;&nbsp;</span>
      <label class="switch">
        <input type="checkbox" checked>
        <span class="slider round" style="height: 34px; margin-top: 0px;"></span>
      </label>
    </div>
  </div>

  <div class="col-xs-2"></div>
  </div>

  <div class="col-xs-12">
    <div class="col-xs-1"></div>
    <div class="col-xs-6">

      <div class="form-check wishlist-bottom">
        <input class="form-check-input wishlist-checkbox"
               type="checkbox"
               id="wishlist"
               [(ngModel)]="isChecked">
        <label class="form-check-label wishlist-label" for="wishlist">
          &nbsp;Import wishlist from your profile
        </label>
      </div>
      <div>
      <div *ngIf="!isChecked">

        <div class="input-group mb-3">
          <input type="text"
                 class="form-control first-wishlist-text"
                 placeholder="Enter item name">
        </div>
        <div *ngFor="let newItemAdd of newList;let j=index;">
        <div class="input-group mb-3">
          <input type="text"
                 class="form-control"
                 placeholder="Enter item name">

          <div class="input-group-append">
            <button class="btn btn-outline-secondary remove-icon" type="button" (click)="removeItem(j)">
              <span class="glyphicon glyphicon-remove"></span>
            </button>
          </div>
        </div>
      </div>
        <a><button type="button" (click)="addItem()" class="btn "><u>Add More</u></button></a>
      </div>

        <div *ngIf="isChecked">
        <div class="card">
          <div class="card-body">
            <div>
              <span class="item-style" *ngFor="let item of wishlistItems;let i=index;">
                  <span>
                    <input class="form-check-input item-checkbox"
                               type="checkbox"
                               id="wishlistItem{{i}}">{{item}}</span>
              </span>
            </div>
          </div>
        </div>
            <div *ngFor="let newItemAdd of addMoreList;let k=index;">
              <div class="input-group mb-3">
                <input type="text"
                       class="form-control"
                       placeholder="Enter item name">

                <div class="input-group-append">
                  <button class="btn btn-outline-secondary remove-icon" type="button" (click)="removeWishlistItem(k)">
                    <span class="glyphicon glyphicon-remove"></span>
                  </button>
                </div>
              </div>
            </div>

          <a><button type="button" class="btn" (click)="addWishlistItem()"><u>Add More</u></button></a>
        </div>

    </div>
  </div>
</div>
  <div class="col-xs-10">
    <div>
      <div  class="pull-right">
      <button type="button" class="btn btn-primary" (click)="postInfo()">Post</button>
      </div>
      <div *ngIf="displayMsg" class="pull-right"><br/><br/>On click of the Post button,
        you will be redirected to the post listing page and<br/>
        your post will be added as the first post on the listing page.</div>
    </div>
  </div>
<div class="col-xs-2"></div>

</div>


<!-- Button trigger modal -->
<!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">-->
<!--cREATE pOST-->
<!--</button>-->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div>Are you sure you want to leave?</div>
        <div>You will lose the changes you made if you leave</div>
      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-primary" data-dismiss="modal" [routerLink]="['/details']">Leave</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Stay</button>
      </div>
    </div>
  </div>
</div>
