<nav class="navbar navbar-default swappal-nav">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" [routerLink]="['/post-list']">Swap Pal</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <form class="navbar-form navbar-left"  style="margin-left: 188px;">
        <div class="input-group">
          <div class="input-group-btn search-panel">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="height: 39px">
              <span id="search_concept">{{initialTag}}</span> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a   style="color:black;" (click)="changeInitial(firstTag)">{{firstTag}}</a></li>
              <li><a   style="color:black;" (click)="changeInitial(secondTag)">{{secondTag}}</a></li>
            </ul>
          </div>
          <input type="text" class="form-control" placeholder="Search for..." aria-label="Search for..." [(ngModel)]="searchText" name="searchText" style="width: 403px;">
          <div class="form-group"><span class="icon-search"></span></div>
        </div>
        <!--<div class="navbar-search">-->
          <!--<input type="text" class="form-control" placeholder="Search for..." aria-label="Search for..." [(ngModel)]="searchText" name="searchText">-->
          <!--<div class="form-group search-container"><span class="icon-search"></span></div>-->
        <!--</div>-->
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a  data-toggle="modal" data-target="#exampleModal">Create Post</a></li>
        <!--<li><a [routerLink]="['/profile']"><span class="icon-user profile-icon"></span></a></li>-->
        <li  class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Hello, {{userService.user.name}} &nbsp;<span class="glyphicon glyphicon-chevron-down"></span></a>
          <ul class="dropdown-menu">
            <li class="dropdown-item"><a [routerLink]="['/profile']"  style="color:black;"><span class="glyphicon glyphicon-user"></span>&nbsp; Profile</a></li>
            <li class="dropdown-item"><a [routerLink]="['/login']"  style="color:black;"><span class="glyphicon glyphicon-log-out"></span>&nbsp; Logout</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container create-post">
  <form #createPostForm="ngForm">
    <span class="error-msg globalModalErr" *ngIf="globalErrMsg">{{globalErrMsg}}</span>
  <div class="col-xs-12">


  <div class="col-xs-2"></div>

  <div class="col-xs-3">
    <span>Upload pictures</span>
    <div class="upload-container">
      <div class="upload-wrapper">
        <button class="btn btn-primary plusBtn"><span class="glyphicon glyphicon-plus"></span></button>
        <input type="file" class="form-control" name="post-picture" (change)="captureUpload($event)">
      </div>
    </div>
    <div *ngFor="let filename of fileNameList.reverse();let l=index;">
      <i>{{filename}}</i><span *ngIf="l==0">&nbsp; added</span>
    </div>
    <div class="error-msg" *ngIf="imageErrMsg" style="margin-top: 10px;">
      {{imageErrMsg}}
    </div>
  </div>

  <div class="col-xs-5">
    <div>
      <span>What do you have?</span>
      <input type="text"
             required
             (ngModel)="title"
             #title="ngModel"
             id="title"
             name="title"
             class="form-control"
             placeholder="What do you have for swapping?">
      <div class="error-msg" *ngIf="!title?.valid && title?.touched">
        Please enter an item
      </div>
    </div>
    <div>
      <span>Description</span>
      <textarea rows="3"
                required
                (ngModel)="description"
                #description="ngModel"
                id="description"
                name="description"
                class="form-control"
                placeholder="Add a description of the swap item"></textarea>
      <div class="error-msg" *ngIf="!description?.valid && description?.touched">
        Please enter a description
      </div>
    </div>
    <div>
      <span>Would you like to swap on-campus? &nbsp;&nbsp;</span>
      <label class="switch">
        <input type="checkbox" checked>
        <span class="slider round" style="height: 34px; margin-top: 0px;"></span>
      </label>
    </div>
  </div>

  <div class="col-xs-2"></div>
  </div>

  <div class="col-xs-12">
    <div class="col-xs-1"></div>
    <div class="col-xs-6">

      <div class="form-check wishlist-bottom">
        <input class="form-check-input wishlist-checkbox"
               type="checkbox"
               id="wishlist"
               [(ngModel)]="isChecked" [ngModelOptions]="{standalone: true}">
        <label class="form-check-label wishlist-label" for="wishlist">
          &nbsp;Import wishlist from your profile
        </label>
      </div>
      <div>
      <!--<div *ngIf="!isChecked">-->

        <!--<div class="input-group mb-3">-->
          <!--<input type="text"-->
                 <!--class="form-control first-wishlist-text"-->
                 <!--placeholder="Enter item name">-->
        <!--</div>-->
        <!--<div *ngFor="let newItemAdd of newList;let j=index;">-->
        <!--<div class="input-group mb-3">-->
          <!--<input type="text"-->
                 <!--class="form-control"-->
                 <!--placeholder="Enter item name">-->

          <!--<div class="input-group-append">-->
            <!--<button class="btn btn-outline-secondary remove-icon" type="button" (click)="removeItem(j)">-->
              <!--<span class="glyphicon glyphicon-remove"></span>-->
            <!--</button>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
        <!--<a><button type="button" (click)="addItem()" class="btn "><u>Add More</u></button></a>-->
      <!--</div>-->

        <div *ngIf="isChecked">
        <div class="card">
          <div class="card-body">
            <div>
              <span class="item-style" *ngFor="let item of wishlistItems;let i=index;">
                  <span>
                    <input class="form-check-input item-checkbox"
                               type="checkbox"
                               id="wishlistItem{{i}}">{{item}}</span>
              </span>
            </div>
          </div>
        </div>
        </div>
            <div *ngFor="let newItemAdd of addMoreList;let k=index;">
              <div class="input-group mb-3">
                <input type="text"
                       class="form-control"
                       placeholder="Enter item name">

                <div class="input-group-append">
                  <button class="btn btn-outline-secondary remove-icon" type="button" (click)="removeWishlistItem(k)">
                    <span class="glyphicon glyphicon-remove"></span>
                  </button>
                </div>
              </div>
            </div>

          <a><button type="button" class="btn" (click)="addWishlistItem()"><u>Add More</u></button></a>
        <!--</div>-->

    </div>
  </div>
</div>
  <div class="col-xs-10">
    <div>
      <div  class="pull-right">
      <button type="button" class="btn btn-primary" (click)="postInfo(createPostForm)">Post</button>
      </div>
    </div>
  </div>
<div class="col-xs-2"></div>
  </form>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div>Are you sure you want to leave?</div>
        <div>You will lose the changes you made</div>
      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-danger" data-dismiss="modal" [routerLink]="['/post-list']">Leave</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Stay</button>
      </div>
    </div>
  </div>
</div>
