body{
  padding-top: 68px;
  padding-bottom: 50px;
}
.image-container {
  position: relative;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.image-container:hover .image {
  opacity: 0.3;
}

.image-container:hover .middle {
  opacity: 1;
}

.post-image {
  object-fit: cover;
  width:100px;
  height:100px;
}

.profile-icon {
  font-size: 1.5rem;
}

.swappal-nav {
  background-color: #337ab7;
  color: white;
}

.swappal-nav a {
  color: white;
}
.nav-color{
  color: #337ab7;
}

.btn-color{
  background-color: #337ab7;
  color: white;
}
.profile-container{
  margin-top:30px;
}
.checked {
  color: orange;
}
.remove-icon{
  background-color: #d9534f;
  height: 39px;
  color: white;

}
.icon-user:before {
  content: "\e971";
}
.icon-search:before {
  content: "\e986";
}
.icon-star-empty:before {
  content: "\e9d7";
}
.icon-star-half:before {
  content: "\e9d8";
}
.icon-star-full:before {
  content: "\e9d9";
}
